@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
  margin: 0;
  color: white;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin: 0;
}

.monitor {
  display: none !important;
}

body {
  max-width: 100%;
}

.stylized {
  font-family: 'Julius Sans One', sans-serif;
}

.large-text {
  font-size: 48px;
}

h1 {
  margin: 0;
  font-size: 36px;
}

h3 {
  margin: 0;
  font-size: 16px;
}

.wrapper {
  background-image: url('./assets/welcome-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  padding-bottom: 2.5%;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: -1;
}

.display {
  display: flex !important;
}

.fixed-back {
  height: 100%;
}

.navbar {
  position: fixed;
  background-color: rgba(0, 0, 0);
  width: 100%;
  height: 10vh;
  z-index: 3;
}

.navbar-collapse {
  background-color: rgba(0, 0, 0);
  z-index: 3;
}

.container-fluid {
  padding: 0;
}

.mobile-header {
  font-size: 24px;
}

.page-margin {
  padding-top: 25%;
}

.work-margin {
  padding-top: 12.5vh;
  padding-bottom: 5vh;
}

.gold {
  color: #b99b4c;
  text-shadow: 4px 4px 4px black;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-left: 2.5%;
}

.btn {
  background-color: #6E1836;
  color: white;
  border-radius: 20px;
  font-size: 32px;
  padding: 0.75% 5%;
  box-shadow: 3px 3px 3px rgb(14, 14, 14);

}

.btn:hover {
  background-color: #6f0827;
}

.nav-link {
  margin-left: 2.5%;
  font-size: 20px;
  transition: 0.2s;
}

.nav-link:hover {
  color: #b99b4c;
  opacity: 0.7;
}

.portrait {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.arrow {
  height: 40px;
  width: 40px;
  border-radius: 0;
}

.btn-arrow {
  border-radius: 0;
  padding: 0 3%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-up {
  display: none;
  top: 20%;
  bottom: unset;
}

.project {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  height: 20vh;
  border-radius: 15px;
  border: 1px solid #6e1835;
  margin: 15px;
  margin-top: 0;
  padding: 3%;
  position: relative;
  transition: 0.2s;
}

.project:hover {
  transform: scale(1.05);
}

.work-border {
  border-bottom: 1px solid white;
}

.project-text-container {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 70%;
  height: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 25px;
  padding: 10px;
}

.project-text {
  border-bottom: 1px solid white;
  padding-bottom: 2%;
  width: 90%;
  margin: auto;
}

.project-text:first-of-type {
  margin-bottom: 2%;
}

.project-description {
  width: 90%;
  text-align: left;
  border: 1px solid #b99b4c;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 25px;
  padding: 5%;
}

.contact-wrapper {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  width: 90%;
}

.social-container {
  width: 100%;
  height: auto;
  bottom: 0;
}

.socials {
  height: 30px;
  width: 30px;
  margin: 0;
  transition: 0.2s;
}

.socials:hover {
  transform: scale(1.20);
}

.linkedin {
  background-color: #007BB5;
}

.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.upwork {
  background-color: #14A800;
}

.swal-text {
  color: black;
}

.text-div {
  width: 90%;
  margin: 5% 0;
}

.resume {
  width: 90%;
}

.active {
  color: #971641 !important;
}

/* Mobile starts at 800px */
@media screen and (min-width: 800px) {

  .monitor {
    display: block !important;
  }

  .mobile {
    display: none !important;
  }

  .logo {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }

  .mobile-header {
    font-size: 36px;
  }

  .fixed-back {
    height: 100vh;
  }

  .large-text {
    font-size: 72px;
  }

  .navbar {
    opacity: 0.9;
  }

  .page-margin {
    padding-top: 10vh;
  }

  .social-container {
    width: 3%;
    height: 100vh;
    right: 0;
  }

  .socials {
    height: auto;
    width: 100%;
  }

  .portrait {
    width: 25%;
  }

  .text-div {
    margin: 0;
  }
  
  .project {
    width: 45%;
    margin-top: 15px;
  }

  .work-border {
    border-bottom: none;
  }

  .project-text-container {
    width: 50%;
  }

  .project-description {
    width: 45%;
    padding: 1%;
  }

  .contact-wrapper {
    width: 50%;
  }

  .resume {
    width: 60%;
  }
}





